[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/airline-themes"]
	path = bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = http://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/tmuxline"]
	path = bundle/tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/commentary"]
	path = bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/syntastic"]
  path = bundle/syntastic
  url=https://github.com/vim-syntastic/syntastic
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "bundle/vim-template"]
	path = bundle/vim-template
	url = https://github.com/aperezdc/vim-template
[submodule "bundle/vimux"]
	path = bundle/vimux
	url = https://github.com/benmills/vimux
[submodule "bundle/goyo"]
	path = bundle/goyo
	url = https://github.com/junegunn/goyo.vim
[submodule "bundle/limelight"]
	path = bundle/limelight
	url = https://github.com/junegunn/limelight.vim
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "bundle/vim-pandoc-syntax"]
	path = bundle/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "bundle/vim-rmarkdown"]
	path = bundle/vim-rmarkdown
	url = https://github.com/vim-pandoc/vim-rmarkdown
[submodule "bundle/zeavim.vim"]
	path = bundle/zeavim.vim
	url = https://github.com/KabbAmine/zeavim.vim
[submodule "bundle/Nvim-R"]
	path = bundle/Nvim-R
	url = https://github.com/jalvesaq/Nvim-R
